In [3]:
# Dependencies
import numpy as np
import pandas as pd
from config import postgresPassword
%load_ext sql

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import datetime as dt

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
db_string = "postgresql://graaxxpxbbhhpf:ed6a4ae5c492bd6c6ba12d23c0f92bf08a96cf83c31d0e3ecb7b663f96756201@ec2-52-205-61-230.compute-1.amazonaws.com:5432/d5hi8e7nvv44s4"
engine = create_engine(db_string)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

engine

Engine(postgresql://graaxxpxbbhhpf:***@ec2-52-205-61-230.compute-1.amazonaws.com:5432/d5hi8e7nvv44s4)

In [5]:
housing_data_df = pd.read_sql('SELECT * FROM austin_housing_data', engine)
housing_data_df

,numofphotos,numofaccessibilityfeatures,numofappliances,numofparkingfeatures,numofpatioandporchfeatures,numofsecurityfeatures,numofwaterfrontfeatures,numofwindowfeatures,numofcommunityfeatures,lotsizesqft,...,hasview,hometype,parkingspaces,yearbuilt,latestprice,numpricechanges,latest_saledate,latest_salemonth,latest_saleyear,latestpricesource
0,39,0,5,2,1,3,0,1,0,6011.0,...,FALSE,Single Family,2,2012,305000,5,2019-09-02,9,2019,Coldwell Banker United- Realtors - South Austin
1,29,0,1,2,0,0,0,0,0,6185.0,...,FALSE,Single Family,2,2013,295000,1,2020-10-13,10,2020,Agent Provided
2,2,0,4,1,0,1,0,0,0,7840.0,...,FALSE,Single Family,0,2018,256125,1,2019-07-31,7,2019,Agent Provided
3,9,0,0,2,0,0,0,0,0,6098.0,...,FALSE,Single Family,2,2013,240000,4,2018-08-08,8,2018,Agent Provided
4,27,0,0,1,0,0,0,0,0,6708.0,...,FALSE,Single Family,0,2002,239900,3,2018-10-31,10,2018,Agent Provided
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15166,49,0,3,2,4,0,0,0,0,6534.0,...,TRUE,Single Family,6,1986,330000,1,2020-12-10,12,2020,Agent Provided
15167,32,1,5,2,2,1,0,0,0,2439.0,...,TRUE,Single Family,2,2016,550000,1,2020-12-16,12,2020,Agent Provided
15168,20,0,3,3,0,0,0,0,0,9408.0,...,FALSE,Single Family,2,1936,875000,7,2021-01-27,1,2021,ABOR
15169,15,0,3,1,0,0,0,0,0,6098.0,...,FALSE,MultiFamily,0,1968,420000,5,2019-08-07,8,2019,Broker Provided
15170,41,0,4,1,2,1,0,0,0,5227.0,...,TRUE,Single Family,1,1955,374900,3,2021-01-23,1,2021,Realty Austin