In [1]:
# Import our dependencies
import pandas as pd

In [2]:
#load SCV file to dataFrame
house_df = pd.read_csv("austinHousingCombined.csv")
print(house_df.shape)
house_df.head()

(15171, 47)

,numofphotos,numofaccessibilityfeatures,numofappliances,numofparkingfeatures,numofpatioandporchfeatures,numofsecurityfeatures,numofwaterfrontfeatures,numofwindowfeatures,numofcommunityfeatures,lotsizesqft,...,hasview,hometype,parkingspaces,yearbuilt,latestprice,numpricechanges,latest_saledate,latest_salemonth,latest_saleyear,latestpricesource
0,39,0,5,2,1,3,0,1,0,6011.0,...,False,Single Family,2,2012,305000,5,9/2/2019,9,2019,Coldwell Banker United- Realtors - South Austin
1,29,0,1,2,0,0,0,0,0,6185.0,...,False,Single Family,2,2013,295000,1,10/13/2020,10,2020,Agent Provided
2,2,0,4,1,0,1,0,0,0,7840.0,...,False,Single Family,0,2018,256125,1,7/31/2019,7,2019,Agent Provided
3,9,0,0,2,0,0,0,0,0,6098.0,...,False,Single Family,2,2013,240000,4,8/8/2018,8,2018,Agent Provided
4,27,0,0,1,0,0,0,0,0,6708.0,...,False,Single Family,0,2002,239900,3,10/31/2018,10,2018,Agent Provided

In [3]:
house_df.dtypes

numofphotos                     int64
numofaccessibilityfeatures      int64
numofappliances                 int64
numofparkingfeatures            int64
numofpatioandporchfeatures      int64
numofsecurityfeatures           int64
numofwaterfrontfeatures         int64
numofwindowfeatures             int64
numofcommunityfeatures          int64
lotsizesqft                   float64
livingareasqft                  int64
numofprimaryschools             int64
numofelementaryschools          int64
numofmiddleschools              int64
numofhighschools                int64
avgschooldistance             float64
avgschoolrating               float64
avgschoolsize                   int64
medianstudentsperteacher        int64
numofbathrooms                float64
numofbedrooms                   int64
numofstories                    int64
homeimage                      object
zpid                            int64
city                           object
streetaddress                  object
zipcode                         int64
description                    object
latitude                      float64
longitude                     float64
propertytaxrate               float64
garagespaces                    int64
hasassociation                   bool
hascooling                       bool
hasgarage                        bool
hasheating                       bool
hasspa                           bool
hasview                          bool
hometype                       object
parkingspaces                   int64
yearbuilt                       int64
latestprice                     int64
numpricechanges                 int64
latest_saledate                object
latest_salemonth                int64
latest_saleyear                 int64
latestpricesource              object
dtype: object

In [4]:
#filtering the data to only include single family 
single_family_df = house_df[house_df["hometype"] == "Single Family"]
print(single_family_df.shape)
single_family_df.head()

(14241, 47)

,numofphotos,numofaccessibilityfeatures,numofappliances,numofparkingfeatures,numofpatioandporchfeatures,numofsecurityfeatures,numofwaterfrontfeatures,numofwindowfeatures,numofcommunityfeatures,lotsizesqft,...,hasview,hometype,parkingspaces,yearbuilt,latestprice,numpricechanges,latest_saledate,latest_salemonth,latest_saleyear,latestpricesource
0,39,0,5,2,1,3,0,1,0,6011.0,...,False,Single Family,2,2012,305000,5,9/2/2019,9,2019,Coldwell Banker United- Realtors - South Austin
1,29,0,1,2,0,0,0,0,0,6185.0,...,False,Single Family,2,2013,295000,1,10/13/2020,10,2020,Agent Provided
2,2,0,4,1,0,1,0,0,0,7840.0,...,False,Single Family,0,2018,256125,1,7/31/2019,7,2019,Agent Provided
3,9,0,0,2,0,0,0,0,0,6098.0,...,False,Single Family,2,2013,240000,4,8/8/2018,8,2018,Agent Provided
4,27,0,0,1,0,0,0,0,0,6708.0,...,False,Single Family,0,2002,239900,3,10/31/2018,10,2018,Agent Provided

In [5]:
#checking for null values 
single_family_df.isnull().sum()

numofphotos                   0
numofaccessibilityfeatures    0
numofappliances               0
numofparkingfeatures          0
numofpatioandporchfeatures    0
numofsecurityfeatures         0
numofwaterfrontfeatures       0
numofwindowfeatures           0
numofcommunityfeatures        0
lotsizesqft                   0
livingareasqft                0
numofprimaryschools           0
numofelementaryschools        0
numofmiddleschools            0
numofhighschools              0
avgschooldistance             0
avgschoolrating               0
avgschoolsize                 0
medianstudentsperteacher      0
numofbathrooms                0
numofbedrooms                 0
numofstories                  0
homeimage                     0
zpid                          0
city                          0
streetaddress                 0
zipcode                       0
description                   0
latitude                      0
longitude                     0
propertytaxrate               0
garagespaces                  0
hasassociation                0
hascooling                    0
hasgarage                     0
hasheating                    0
hasspa                        0
hasview                       0
hometype                      0
parkingspaces                 0
yearbuilt                     0
latestprice                   0
numpricechanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
latestpricesource             0
dtype: int64

In [6]:
#filtering the data to austin city 
austin_df = single_family_df[single_family_df["city"] == "austin"]
print(austin_df.shape)
austin_df.head()

(14096, 47)

,numofphotos,numofaccessibilityfeatures,numofappliances,numofparkingfeatures,numofpatioandporchfeatures,numofsecurityfeatures,numofwaterfrontfeatures,numofwindowfeatures,numofcommunityfeatures,lotsizesqft,...,hasview,hometype,parkingspaces,yearbuilt,latestprice,numpricechanges,latest_saledate,latest_salemonth,latest_saleyear,latestpricesource
17,40,0,4,2,0,0,0,0,0,10672.0,...,False,Single Family,0,2014,687850,13,8/28/2018,8,2018,Agent Provided
18,31,0,6,3,0,0,0,0,0,9060.0,...,True,Single Family,2,2007,409000,4,12/3/2018,12,2018,Agent Provided
19,21,1,2,2,1,0,0,0,0,7448.0,...,False,Single Family,2,2006,199000,3,12/22/2020,12,2020,Agent Provided
20,20,0,3,2,0,0,0,0,0,7666.0,...,False,Single Family,0,2008,400000,2,1/10/2020,1,2020,Pure Gold Realty
22,69,0,4,3,0,0,0,0,0,8494.0,...,False,Single Family,2,2013,549900,2,3/13/2018,3,2018,Agent Provided

In [7]:
austin_df["numofcommunityfeatures"].value_counts()

0    13936
1      154
2        4
3        2
Name: numofcommunityfeatures, dtype: int64

In [8]:
austin_df["numofaccessibilityfeatures"].value_counts()

0    13982
1       72
2       26
3        6
4        5
5        3
8        1
6        1
Name: numofaccessibilityfeatures, dtype: int64

In [9]:
austin_df["numofwaterfrontfeatures"].value_counts()

0    14064
1       25
2        7
Name: numofwaterfrontfeatures, dtype: int64

In [10]:
#dropping columns that have no real value to our analysis
austin_df.drop(columns=["numofphotos","numofcommunityfeatures","numofaccessibilityfeatures","numofwaterfrontfeatures","latestpricesource"],inplace=True)

/Users/omaralmashhadani/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
#dropping the hometype since we already flitered the data to single family homes
austin_df = austin_df.drop(["hometype"], axis=1)

In [12]:
#dropping the city since we already flitered the data to Austin
austin_df = austin_df.drop(["city"], axis=1)

In [13]:
austin_df.dtypes

numofappliances                 int64
numofparkingfeatures            int64
numofpatioandporchfeatures      int64
numofsecurityfeatures           int64
numofwindowfeatures             int64
lotsizesqft                   float64
livingareasqft                  int64
numofprimaryschools             int64
numofelementaryschools          int64
numofmiddleschools              int64
numofhighschools                int64
avgschooldistance             float64
avgschoolrating               float64
avgschoolsize                   int64
medianstudentsperteacher        int64
numofbathrooms                float64
numofbedrooms                   int64
numofstories                    int64
homeimage                      object
zpid                            int64
streetaddress                  object
zipcode                         int64
description                    object
latitude                      float64
longitude                     float64
propertytaxrate               float64
garagespaces                    int64
hasassociation                   bool
hascooling                       bool
hasgarage                        bool
hasheating                       bool
hasspa                           bool
hasview                          bool
parkingspaces                   int64
yearbuilt                       int64
latestprice                     int64
numpricechanges                 int64
latest_saledate                object
latest_salemonth                int64
latest_saleyear                 int64
dtype: object

In [14]:
#can we convert object to int?
austin_df.nunique()

numofappliances                  11
numofparkingfeatures              7
numofpatioandporchfeatures        9
numofsecurityfeatures             7
numofwindowfeatures               5
lotsizesqft                    1186
livingareasqft                 3563
numofprimaryschools               3
numofelementaryschools            3
numofmiddleschools                4
numofhighschools                  3
avgschooldistance               245
avgschoolrating                  27
avgschoolsize                   151
medianstudentsperteacher         10
numofbathrooms                   22
numofbedrooms                     9
numofstories                      4
homeimage                     14096
zpid                          14096
streetaddress                 14091
zipcode                          45
description                   14062
latitude                      13431
longitude                     11771
propertytaxrate                   3
garagespaces                     13
hasassociation                    2
hascooling                        2
hasgarage                         2
hasheating                        2
hasspa                            2
hasview                           2
parkingspaces                    13
yearbuilt                       115
latestprice                    2261
numpricechanges                  22
latest_saledate                 947
latest_salemonth                 12
latest_saleyear                   4
dtype: int64

In [15]:
#removing columns that can't be convert to a numerical data 
austin_df = austin_df.drop(["homeimage","streetaddress","description"], axis=1)

In [16]:
#change latest_saledate to date format
austin_df['latest_saledate'] = pd.to_datetime(austin_df['latest_saledate'])

In [17]:
austin_df.dtypes

numofappliances                        int64
numofparkingfeatures                   int64
numofpatioandporchfeatures             int64
numofsecurityfeatures                  int64
numofwindowfeatures                    int64
lotsizesqft                          float64
livingareasqft                         int64
numofprimaryschools                    int64
numofelementaryschools                 int64
numofmiddleschools                     int64
numofhighschools                       int64
avgschooldistance                    float64
avgschoolrating                      float64
avgschoolsize                          int64
medianstudentsperteacher               int64
numofbathrooms                       float64
numofbedrooms                          int64
numofstories                           int64
zpid                                   int64
zipcode                                int64
latitude                             float64
longitude                            float64
propertytaxrate                      float64
garagespaces                           int64
hasassociation                          bool
hascooling                              bool
hasgarage                               bool
hasheating                              bool
hasspa                                  bool
hasview                                 bool
parkingspaces                          int64
yearbuilt                              int64
latestprice                            int64
numpricechanges                        int64
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
dtype: object

In [18]:
#coverting bool values to int
austin_df.replace({True: 1, False:0}, inplace=True)

In [19]:
austin_df.dtypes

numofappliances                        int64
numofparkingfeatures                   int64
numofpatioandporchfeatures             int64
numofsecurityfeatures                  int64
numofwindowfeatures                    int64
lotsizesqft                          float64
livingareasqft                         int64
numofprimaryschools                    int64
numofelementaryschools                 int64
numofmiddleschools                     int64
numofhighschools                       int64
avgschooldistance                    float64
avgschoolrating                      float64
avgschoolsize                          int64
medianstudentsperteacher               int64
numofbathrooms                       float64
numofbedrooms                          int64
numofstories                           int64
zpid                                   int64
zipcode                                int64
latitude                             float64
longitude                            float64
propertytaxrate                      float64
garagespaces                           int64
hasassociation                         int64
hascooling                             int64
hasgarage                              int64
hasheating                             int64
hasspa                                 int64
hasview                                int64
parkingspaces                          int64
yearbuilt                              int64
latestprice                            int64
numpricechanges                        int64
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
dtype: object